/* FilterBar.css */

.filter-bar {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    justify-content: center; /* Centraliza os filtros */
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
  }
  
  .filter-select,
  .filter-input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .filter-select {
    background-color: #2c2c2c; /* Cinza escuro */
    color: #ffffff;
  }
  
  .filter-select option {
    background-color: #2c2c2c;
    color: #ffffff;
  }
  
  .filter-input {
    background-color: #2c2c2c;
    color: #ffffff;
  }
  
  .filter-select:focus,
  .filter-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #4a90e2; /* Destaque azul */
  }